<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Greice's Projects API</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div id="main" class="col-md-8 col-md-offset-2">
          <img id ="logo" src="/images/logos.png">
          <h1>Greice's Projects API</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>

          <div class="">
            <ul class="nav nav-tabs nav-justified navbar-inverse">
              <li role="presentation" class="active"><a href="#">Overview</a></li>
              <li role="presentation"><a href="#">Documents</a></li>
              <li role="presentation"><a href="#">Terms of Use</a></li>
            </ul>
          </div>

        </div>
        <div id="secondary" class="col-md-8 col-md-offset-2">
          <h4>My Projects</h4>
          <div id ="projectTarget">
            <!-- handlebars template -->
            <script id="projects-template" type="text/x-handlebars-template">
              <hr>
              <p>
                <b>{{project.name}}</b> | {{project.description}}
              </p>
                <img class="screenshot" src="{{project.screenshot}}">
            </script>
         </div>
            <p>Add a new project</p>
           <form id="newProjectForm" method="POST" action="/api/projects">
             <input id="projectName" name="name" type="text" placeholder= "Project Name" />
             <input id="projectDescription" name="description" type="text"  placeholder="Description"/>
             <input id="githubRepoUrl" name="githubRepoUrl" type="text" placeholder="githubRepoUrl"/>
             <input id="deployedUrl" name="deployedUrl" type="text" placeholder="deployedUrl"/>
             <input id="screenshot" name="screenshot" type="text" placeholder="screenshot"/>
             <input type="submit" />
           </form>
        </div>
      </div>
    </div>
  </body>
</html>
